<table class="table">
    <tr>
        <td>Naca4</td>
        <td>{{user_params.naca4}}</td>
    </tr>
    <tr>
        <td>Minimum angle</td>
        <td>{{user_params.min_angle}}</td>
    </tr>
    <tr>
        <td>Maximum angle</td>
        <td>{{user_params.max_angle}}</td>
    </tr>
    <tr>
        <td>Steps between angles</td>
        <td>{{user_params.step}}</td>
    </tr>
    <tr>
        <td>Number of nodes</td>
        <td>{{user_params.num_nodes}}</td>
    </tr>
    <tr>
        <td>Refinement level</td>
        <td>{{user_params.refinement_level}}</td>
    </tr>
    <tr>
        <td>Number of samples</td>
        <td>{{user_params.num_samples}}</td>
    </tr>
    <tr>
        <td>Viscosity</td>
        <td>{{user_params.viscosity}}</td>
    </tr>
    <tr>
        <td>Speed</td>
        <td>{{user_params.speed}}</td>
    </tr>
    <tr>
        <td>Time</td>
        <td>{{user_params.time}}</td>
    </tr>
</table>
</div>